/* Container for the entire page */
.container {
  width: 100%;
  margin: 0 auto;
}

/* @media (max-width: 768px) {
  .serviceCards {
    flex-direction: column;
    gap: 2rem;
  }

  .portfolioGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bannerText h1 {
    font-size: 2rem;
  }

  .bannerText p {
    font-size: 1.25rem;
  }
} */
