/* Define a wrapper or root class for your page */
.pageWrapper {
  --card-width: 32%; /* Set the default card width */
}

/* Container for the entire page */
.container {
  width: 100%;
  margin: 0 auto;
}

/* Main Banner Section */
.banner {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.bannerImage {
  z-index: -1;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.bannerText h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.bannerText p {
  font-size: 1.5rem;
}

/* Services Section */
.services {
  padding: 2rem 1rem;
  background-color: #f1f1f1;
  text-align: center;
  background-color: #18191B;
}

.serviceCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: #202020;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: var(--card-width); /* Use the card width variable */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.cardImage {
  object-fit: cover; /* Cover ensures the image fills the container */
  width: 100%;
  height: 100%;
}

.card h3 {
  margin-top: 1rem;
}

/* Portfolio Section */
.portfolio {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #202020;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.portfolio .card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .serviceCards {
    flex-direction: column;
    gap: 2rem;
  }

  .portfolioGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bannerText h1 {
    font-size: 2rem;
  }

  .bannerText p {
    font-size: 1.25rem;
  }
}
